:host{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.local-time{
  display: flex;
  flex-direction: row;
  width: 100%;
  &__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__inner{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    width: 200px;
  }
  &__title{
    font-size: 16px;
    white-space: nowrap;
  }
  &__clock{
    display: flex;
    gap: 8px;
    color: var(--color-neutral-500);
    font-size: 14px;
    &-digits{
      width: 56px;
      font-weight: 400;
    }
    &-gmt{
      font-weight: 400;
    }
  }
  &__difference{
    color: var(--color-neutral-500);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
  }
  &.no-diff{
    flex-direction: row;
    justify-content: space-between;
    .local-time__inner{
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  }
}

.availability{
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;

  &__title{
    display: flex;
    justify-content: end;
    white-space: nowrap;
  }
  &__status{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--color-neutral-500);
    font-weight: 400;
    padding-left: 16px;
    font-size: 14px;
    white-space: nowrap;
    &::before{
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #5FE968;
      animation: pulse 1s infinite;
    }
  }
}

@media (max-width: 768px) {
  :host{
    .local-time{
      flex-direction: column;
      gap: 8px;
      height: 100%;
      padding-bottom: 24px;
      &__wrapper{
        gap: 8px;
      }
      &.no-diff{
        flex-direction: row;
        justify-content: space-between;
        .availability{
          flex-direction: column;
          &__status{
            color: var(--color-neutral-500);
            &::before{
              display: block;
            }
          }

        }
      }
      .availability{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        &__status{
          color: #6ace70;
          &::before{
            display: none;
          }
        }

      }
    }
  }
}
