:host{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.local-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  &__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    width: 200px;
    &.difference{
      flex-direction: row;
      align-items: center;
      color: var(--color-neutral-500);
      font-size: 14px;
    }
  }
  &__title{
    font-size: 16px;
    white-space: nowrap;
  }
  &__clock{
    display: flex;
    gap: 8px;
    color: var(--color-neutral-500);
    font-size: 14px;
    &-digits{
      width: 56px;
      font-weight: 400;
    }
    &-gmt{
      font-weight: 400;
    }
  }
  &__difference{
    color: var(--color-neutral-500);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
  }
}

.availability{
  display: flex;
  align-items: end;
  flex-direction: column;

  &__title{
    display: flex;
    justify-content: end;
    white-space: nowrap;
  }
  &__status{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--color-neutral-500);
    font-weight: 400;
    padding-left: 16px;
    font-size: 14px;
    white-space: nowrap;
    &::before{
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #5FE968;
      animation: pulse 1s infinite;
    }
  }
}

@media (max-width: 768px) {
  :host{
  }
}
