:root {
  --color-neutral-900: #050506;
  --color-neutral-800: #141417;
  --color-neutral-700: #24242c;
  --color-neutral-600: #5c5c65;
  --color-neutral-500: #888888;
  --color-neutral-400: #949494;
  --color-neutral-300: #a8a8a8;
  --color-neutral-200: #c0c0c0;
  --color-neutral-100: #fff;
}
