body{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}
h1{
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
}
h2{
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}
h3{
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}
h4{
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}
h5{
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
}
h6{
  font-size: 12px;
  line-height: 140%;
  font-weight: 700;
}
