:host{
  .case-card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    height: 100%;
    padding: 4px;
    &__title{
      min-height: 56px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      border-radius: 12px;
    }
    &__preview{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 16px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      border-radius: 12px;
      &-logo--wrapper{
        width: 40px;
      }
      &-logo{
        width: 100%;
      }

    }
    &__image{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .case-modal{
    display: grid;
    grid-template-areas:
    "slider          head"
    "slider          info";
    grid-template-columns: 1fr  420px;
    grid-template-rows: 64px 1fr;
    height: 100%;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid var(--color-neutral-700);
    background-color: var(--color-neutral-900);
    padding: 4px;

    &__slider{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      flex: 1;
      overflow: hidden;
      user-select: none;
      .swiper-button-prev,
      .swiper-button-next{
        background-color: rgba(255, 255, 255, 0.1);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        &::after{display: none}
      }
    }
    &__head{
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      padding: 0 0 0 16px;
      &-close{
        font-size: 20px;
        font-weight: 800;
        border: none;
        background-color: var(--color-neutral-800);
        border-radius: 12px;
        color: var(--color-neutral-100);
      }
      &-title{
        width: 100%;
      }
      &-link,
      &-close{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 68px;
        cursor: pointer;
      }
    }
    &__info{
        flex-direction: column;
        height: 100%;
        border-radius: 12px;
        border: 1px solid var(--color-neutral-700);
        background-color: var(--color-neutral-800);
        padding: 16px;
      }
  }
  .case-close-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .swiper {
    height: 100%;
    img{
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  :host{
    .case-card{
      height: auto;
      &__image{
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
      }
    }
    .case-modal{
      grid-template-areas:
        "head"
        "slider"
        "info";
      grid-template-columns: 1fr;
      grid-template-rows: 64px 360px 1fr;
      &__slider{
        max-width: 100%;
      }
      &__content{
        width: 100%;
      }
      &__info{
        height: 100%;
      }
    }
  }
}
