<ng-container *ngIf="isCard(); else modalTemplate">
  <div class="case-card">
    <h3 class="case-card__title">{{ data.title }}</h3>
    <div class="case-card__preview">
      <div class="case-card__preview-logo--wrapper">
        <img class="case-card__preview-logo" [src]="data.logo" [alt]="data.title" />
      </div>
      <img class="case-card__image" [src]="data.image" [alt]="data.title" />
      <p style="max-width: 320px">{{ data.description }}</p>
    </div>
  </div>
</ng-container>

<ng-template #modalTemplate>
  <div class="case-modal">
    <div class="case-modal__head" style="grid-area: head;">
      <h2 class="case-modal__head-title">{{ data.title }}</h2>

      <button class="case-modal__head-close" (click)="modal.closeModal()">×</button>
    </div>
    <div class="case-modal__slider" style="grid-area: slider;">

      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let slide of data.slides">
            <img [src]="slide" [alt]="data.title" />
          </div>
        </div>

        <div class="swiper-button-next">

          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 8L14 12L10 16" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8L10 12L14 16" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
    <div class="case-modal__info" style="grid-area: info;">
        <p>{{ data.description }}</p>
        <div class="case-modal__tags">
          <span class="tag" *ngFor="let tag of data.tags">{{ tag }}</span>
        </div>
      </div>
  </div>
</ng-template>
