:host{
  .case-card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    height: 100%;
    padding: 4px;
    &__title{
      min-height: 56px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      border-radius: 12px;
      transition: 0.35s ease;
    }
    &__preview{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      height: 100%;
      padding: 16px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      border-radius: 12px;
      transition: 0.35s ease;
      &-logo--wrapper{
        width: 40px;
      }
      &-logo{
        width: 100%;
        opacity: 0.3;
        transition: 0.25s;
      }

    }
    &__image{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: 0.35s ease;
    }
    &__description{
      display: flex;
      align-items: end;
      max-width: 320px;
      height: 100%;
    }
    &__tags{
      display: flex;
      gap: 8px;
      &-item{
        background-color: var(--color-neutral-700);
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 12px;
        transition: 0.35s ease;
      }
    }
    &:hover{
      .case-card{
        &__title {
          //background-color: var(--title-bg, var(--color-neutral-800));
        }
        &__preview {
          //background-color: var(--preview-bg, var(--color-neutral-800));
          &-logo{
            opacity: 0.7;
          }
        }
        &__image{
          width: 105%;
        }
      }
    }
  }

  .case-modal{
    display: grid;
    grid-template-areas:
    "slider          head"
    "slider          info";
    grid-template-columns: 1fr  420px;
    grid-template-rows: 64px 1fr;
    height: 100%;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid var(--color-neutral-700);
    background-color: var(--color-neutral-900);
    padding: 4px;

    &__slider{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--preview-bg, var(--color-neutral-800));
      flex: 1;
      overflow: hidden;
      user-select: none;
      .swiper-button-prev,
      .swiper-button-next{
        background-color: rgba(255, 255, 255, 0.1);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        &::after{display: none}
      }
    }
    &__head{
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      padding: 0 0 0 16px;
      &-close{
        font-size: 20px;
        font-weight: 800;
        border: none;
        background-color: var(--color-neutral-800);
        border-radius: 12px;
        color: var(--color-neutral-100);
      }
      &-title{
        width: 100%;
      }
      &-link,
      &-close{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 68px;
        cursor: pointer;
      }
    }
    &__info{
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 12px;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      padding: 16px;
      gap: 32px;
      &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      &-contribution{
        display: flex;
        flex-direction: column;
        gap: 8px;
        &--item{
          position: relative;
          padding-left: 24px;
          &::before{
            content: "";
            position: absolute;
            top: 8px;
            left: 4px;
            background-color: var(--color-neutral-700);
            border: 1px solid var(--color-neutral-100);
            width: 6px;
            height: 6px;
            border-radius: 50%;
          }
        }
      }
      &-links{
        display: flex;
        flex-direction: column;
        gap: 8px;
        &--link{
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--color-neutral-100);
          text-decoration: none;

        }
      }
    }
  }
  .case-close-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .swiper {
    height: 100%;
    img{
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  :host{
    .case-card{
      height: auto;
      &__title {
        //background-color: var(--title-bg, var(--color-neutral-800));
      }
      &__preview {
        //background-color: var(--preview-bg, var(--color-neutral-800));
        &-logo{
          width: 100%;
          opacity: 0.7;
          transition: 0.25s;
        }
      }
      &__image{
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
      }
    }
    .case-modal{
      position: relative;
      grid-template-areas:
        "head"
        "slider"
        "info";
      grid-template-columns: 1fr;
      grid-template-rows: 64px 300px 1fr;
      &__head{

      }
      &__slider{
        max-width: 100%;
      }
      &__content{
        width: 100%;
      }
      &__info{
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
}
