:host{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
  padding: 0 32px;
}
.cases__wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: nowrap;
}

.cases__wrapper > * {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  min-width: 0;              // важно: иначе карточка может отказаться сжиматься
  height: 600px;             // фиксированная высота вместо min-height
  overflow: hidden;          // чтобы контент не выдавливал высоту
  border: 1px solid var(--color-neutral-700);
  background-color: var(--color-neutral-900);
  border-radius: 16px;

  /* анимируем ТОЛЬКО ширину */
  transition:
    flex-basis 300ms ease,
    max-width 300ms ease;
}

.cases__wrapper > *:hover {
  flex-basis: 37%;
  max-width: 37%;
}
.cases__subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  :host{
    padding: 0 16px;
  }
  .cases__wrapper {
    flex-direction: column;
    &  > * {
      flex: 1 1 100%;
      max-width: 100%;
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-900);
      border-radius: 16px;
      min-height: auto;
      &:hover{
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}
