:host{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
  padding: 0 32px;
}
.cases__wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  :host{
    padding: 0 16px;
  }
  .cases__wrapper {
    flex-direction: column;
  }
}
