<ul class="links-list">
  <li class="links-list__item">
    <a href="#" class="links-list__item-link">
      <img src="assets/images/svg/linkedin.svg" alt="LinkedIn">
    </a>
  </li>
  <li class="links-list__item">
    <a href="#" class="links-list__item-link">
      <img src="assets/images/svg/sms.svg" alt="Email">
    </a>
  </li>
  <li class="links-list__item">
    <a href="#" class="links-list__item-link">
      <img src="assets/images/svg/whatsapp.svg" alt="WhatsApp">
    </a>
  </li>
  <li class="links-list__item">
    <a class="links-list__item-link" href="https://t.me/@maksim_kasyanov" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/svg/telegram.svg" alt="Telegram">
    </a>
  </li>
  <li class="links-list__item">
    <a href="tel:380973710447" class="links-list__item-link">
      <img src="assets/images/svg/call.svg" alt="Phone">
    </a>
  </li>
</ul>

