:host{
  display: block;
  width: 100%;
  border: 1px solid var(--color-neutral-700);
  background-color: var(--color-neutral-900);
  border-radius: 16px;
  overflow: hidden;
  padding: 4px;
  box-sizing: border-box;
}
