:host{
  display: flex;
  gap: 16px;
  padding: 160px 32px 0;
  & > *{
    width: 50%;
  }
}

.summary-description{
  display: flex;
  align-items: center;
  font-size: 32px;
  color: var(--color-neutral-600);
  padding-right: 5%;
  span{
    color: var(--color-neutral-100);
  }
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
  min-height: 600px;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "typography     elements    elements      elements    elements"
    "sizes          elements    elements      elements    elements"
    "colors         elements    elements      elements    elements"
    "graphic        elements    elements      elements    elements"
    "components     elements    elements      elements    elements";
  &  > * {
    min-width: 0; // чтобы контент не мог расширять колонку
  }
  div{
    display: flex;
    height: 100%;
    align-self: stretch;
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-neutral-700);
    background-color: var(--color-neutral-800);
    border-radius: 12px;
    overflow: hidden;
    padding: 4px;
    & + .colors{
      height: 100%;
      width: auto;
    }
    &-title{
      font-size: 20px;
      font-weight: 500;
    }
    &-text{
      font-size: 14px;
      font-weight: 500;

    }
    &-img{
      width: 100%;
      height: 100%;
      display: block;
    }
    &-main{
      padding: 0 !important;
    }
    &-square {
      aspect-ratio: 1 / 1;
      img{
        object-fit: contain;
      }

    }

  }
}


@media (max-width: 768px) {
  :host{
    padding: 80px 16px 0;
    flex-direction: column;
    & > *{
      width: 100%;
    }
  }


  .summary-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    min-height: 0;
    gap: 8px;
    grid-template-areas:
    "elements     elements    elements      elements    elements"
    "elements     elements    elements      elements    elements"
    "elements     elements    elements      elements    elements"
    "elements     elements    elements      elements    elements"
    "typography   sizes       colors        graphic     components";
    div{
      height: auto;
    }
    .summary-grid__item {
      height: auto;
    }
    &__main{
      width: calc(100% - 64px);
    }
  }

  .summary-description{
    padding: 0;
    font-size: 26px;
  }
}
