:host{
  display: flex;
  gap: 16px;
  margin-bottom: 100px;
  padding: 0 32px;
  & > *{
    width: 50%;
  }
}

.summary-description{
  display: flex;
  align-items: center;
  font-size: 36px;
  color: var(--color-neutral-600);
  padding-right: 5%;
  span{
    color: var(--color-neutral-100);
  }
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
  min-height: 600px;
  grid-template-areas:
    "components     icons       wireframes    foundations       foundations"
    "elements       elements    elements      foundations       foundations"
    "elements       elements    elements      project           project"
    "benefits       benefits    scroll        documentation     documentation"
    "benefits       benefits    scroll        documentation     documentation";
  div{
    display: flex;
    height: 100%;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-neutral-700);
    background-color: var(--color-neutral-800);
    border-radius: 12px;
    overflow: hidden;
    & + .colors{
      height: 100%;
      width: auto;
    }
    &-title{
      font-size: 20px;
      font-weight: 500;
    }
    &-text{
      font-size: 14px;
      font-weight: 500;

    }
    &-img{
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 768px) {
  :host{
    padding: 0 16px;
    flex-direction: column;
    & > *{
      width: 100%;
    }
  }

  .summary-grid {
    div:nth-child(8){
      display: none;
    }
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "components        icons                wireframes"
    "elements          elements               elements"
    "benefits          benefits               benefits"
    "foundations       foundations         foundations"
    "project           project                 project"
    "documentation     documentation     documentation"
  }

  .summary-description{
    padding: 0;
    font-size: 32px;
  }
}
