:host{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
  padding: 0 32px;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  grid-template-areas:
    "summary          myBackground        education"
    "summary          myBackground        education"
    "hardSkills       myBackground        education"
    "hardSkills       myBackground        courses"
    "hardSkills       myBackground        courses"
    "experience       myBackground        courses"
    "experience       mainTools           courses"
    "experience       mainTools           courses";
  &__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    & app-surface > div {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
    }
  }
  &__title{
    color: var(--color-neutral-100);
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--color-neutral-500);
    &-inner{
      border: 1px solid var(--color-neutral-700);
      background-color: var(--color-neutral-800);
      border-radius: 12px;
      height: 100%;
    }
    &-summary{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &-text{
        font-weight: 400;
        color: var(--color-neutral-100);
      }
    }
    &-hardSkills{
      color: var(--color-neutral-100);
      font-size: 14px;
      font-weight: 400;
    }
    &-contacts{
      display: flex;
      justify-content: space-between;
    }
    &-myBackground{
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: var(--color-neutral-100);

    }
    &-hobbies,
    &-tools{
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      img{
        width: 32px;
        height: 32px;
      }
    }
    &-hobbies{
      img{
        width: 48px;
        height: 48px;
      }
    }
  }
}
.link-resume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  background-color: var(--color-neutral-700);
  border-radius: 14px;
  text-decoration: none;
  padding: 0 16px 0 12px;
  border: 1px solid var(--color-neutral-600);
  &__img{
    width: 16px;
    height: 16px;
  }
  &__text{
    color: var(--color-neutral-100);
    font-size: 14px;
    font-weight: bold;
  }
}
.about-grid{
  &__cases{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.about__subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  :host{
    padding: 0 16px;
  }
  .about-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, auto);
    gap: 16px;
    grid-template-areas:
      "summary"
      "hardSkills"
      "myBackground"
      "experience"
      "courses"
      "education"
      "mainTools"
      "hobbies"
  }
}
