:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-neutral-900);
  color: white;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  place-items: center;
  overflow: hidden;

  > * {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;

  }

}
@media (max-width: 768px) {
}

