:host {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 56px;
  grid-area: header;

  a{
    &.logo{
      font-size: 24px;
      font-weight: bold;
    }
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
}

.anchors{
  display: flex;
  gap: 8px;
}
