:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 56px;
  grid-area: header;
  padding: 0 32px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);

  a{
    &.logo{
      font-size: 24px;
      font-weight: bold;
    }
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
}

.anchors{
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  :host{

    padding: 0 16px;
  }
}
