:host{
  position: relative;
  display: block;
  height: 100vh;
  margin-bottom: 50px;
  padding: 0 32px;
  .hero{

    &__me{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-top: 10%;
      padding-bottom: 30px;
      &-name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px 0 12px;
        gap: 16px;
      }
      &-inner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

      }
      &-img{
        width: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: contain;
        border-radius: 50%;
        opacity: 0.8;
        user-select: none;
      }
      &-hello{
        position: absolute;
        top: calc(50% - 244px);
        left: 50%;
        transform: translateX(-50%);
      }
      &-textContainer{
        width: 680px;
      }

      &-top--text,
      &-bot--text{
        position: relative;
        height: 165px;
        overflow: hidden;
        & .hero__me-text--inner{
          position: absolute;
          left: 0;
          will-change: transform;
          transition: transform 0.3s ease-out;
        }
      }
      &-top--text .hero__me-text--inner{
        top: 0;
        transform: translateY(0);
      }
      &-bot--text .hero__me-text--inner{
        bottom:0;
        transform: translateY(0);
      }
      &-greetings{
        width: auto;
        & span {
          font-size: 150px;
          font-weight: 500;
          line-height: 110%;
          user-select: none;
          &.outlined{
            font-weight: 500;
            color: transparent;
            -webkit-text-stroke: 1px white;
          }
        }

        &-space-1{
          letter-spacing: -30px;
        }
        &-space-2{
          letter-spacing: 10px;
        }
      }
    }
  }
}


@keyframes pulse {
  0% {
    background-color: rgba(95, 233, 104, 0.6);
  }
  50% {
    background-color: #38e543;
  }
  100% {
    background-color: rgba(95, 233, 104, 0.6);
  }
}
@media (max-width: 768px) {
  :host{
    padding: 0 16px;
    height: 95vh;
    .hero{

      &__me{
        &-inner{
          position: relative;
          width: 100%;
          height: 100%;

        }

        &-hello{
          width: auto;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
        }


        &-img{
          position: absolute;
          top: 50%;
          right: -30%;
          transform: translate(-0%, -50%);
          z-index: 0;
        }
        &-greetings{
          span{
            font-size: 72px;

          }
        }
      }
      &__info-scroll{
        display: none;
      }

    }
  }
}

