/* You can add global styles to this file, and also import other style files */
@use "assets/styles/styles.scss";

html{
  background-color: #050506;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

.swiper-pagination{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: unset !important;
  transform: translateX(-50%) !important;
  left: 50% !important;
  background-color: rgba(5, 5, 6, 0.4);
  bottom: 24px !important;
  padding: 8px;
  border-radius: 16px;
}

.case-modal__bullet {
  background-color: var(--color-neutral-700);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.case-modal__bullet-active {
  background-color: var(--color-neutral-100);
  cursor: auto;
}

@media (max-width: 768px) {
  .swiper-pagination{
    bottom: 12px !important;
  }
}
