/* You can add global styles to this file, and also import other style files */
@use "assets/styles/styles.scss";

html{
  background-color: #050506;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

.swiper-pagination{
  display: flex;
  justify-content: center;
  gap: 4px;
  height: 50px;
  align-items: center;
  width: unset !important;
  transform: translateX(-50%);
  left: 50% !important;
}

.case-modal__bullet {
  background-color: var(--color-neutral-700);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.case-modal__bullet-active {
  background-color: var(--color-neutral-100);
  cursor: auto;
}
